<div class="weather-menu">

  <div class="weather-info-1">
    <h1>{{temp}}°</h1>
    <div class="info-name">
      <p>{{map?.["name"]}}</p>
      <div class="info-description">
        <span>{{map?.weather[0]?.["description"]}}</span>
        <img [src]="icon" alt="">
      </div>
    </div>
  </div>

  <div class="weather-info-2">
    <div class="weather-search">
      <form action="" (submit)="Search(city)" [formGroup]="forms">
        <div>
          <input type="text" name="search" placeholder="Search" formControlName="result" #city>
          <button id="search" type="submit">
            <img src="assets/images/icons/search.svg" alt="">
          </button>
        </div>
      </form>
    </div>
    <div class="weather-info">
      <div class="weather-temp">
        <h2>Detalhes do Tempo</h2>
        <ul class="temp-list">
          <li>
            <p>Clima</p>
            <span #climax>{{map?.weather[0]?.["description"]}}</span>
          </li>
          <li>
            <p>Temperatura</p>
            <span>{{temp}}°</span>
          </li>
          <li>
            <p>Umidade</p>
            <span>{{map?.main?.["humidity"]}}%</span>
          </li>
          <li>
            <p>Vento</p>
            <span>{{map?.wind?.["speed"]}} Km/h</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
