<div class="weather-menu">
  <div>

  </div>
  <div class="weather-info-2">
    <div class="weather-search">
      <form action="">
        <input type="text" name="search" placeholder="Search">
      </form>
    </div>
    <div class="weather-info">
      <div class="weather-temp">
        <h2>Detalhes do Tempo</h2>
        <ul class="temp-list">
          <li>
            <p>SOL</p>
            <span>10%</span>
          </li>
          <li>
            <p>SOL</p>
            <span>10%</span>
          </li>
          <li>
            <p>SOL</p>
            <span>10%</span>
          </li>
          <li>
            <p>SOL</p>
            <span>10%</span>
          </li>
          <li>
            <p>SOL</p>
            <span>10%</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
