.weather-menu {
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-shadow: 1px 2px 2px black;
  text-transform: capitalize;
}

.info-description{
  display: flex;
  align-items: center;
  margin-top: -20px;
}

img {
  display: inline-block;
}

.weather-info-1{
  color: #fdfdfd;
  display: flex;
  gap: 15px;
  align-self: end;
  align-items: center;
  padding: 0px 5px 50px 100px;
  gap: 20px;
}

.weather-info-1 h1{
  font-size: 10rem;
}

.weather-info-1 p{
  color: #fdfdfd;
  font-size: 4rem;
}

.weather-info-1 span{
  font-size: 2rem;
  color: #f0f0f0;
}

.intro-2{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

form button{
  background: transparent;
  border: none;
  cursor: pointer;
}

.weather-info-2{
  -webkit-backdrop-filter: blur(22px);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(22px);
  padding: 100px 70px;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

form input{
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(190, 190, 190);
  font-size: 1.75rem;
  padding: 10px 0px;
  width: 100%;
  transition: .3s;
  color: #fdfdfd;
}

form div{
  display: flex;
}

form img{
  padding: 0px 5px;
}

form input:focus, form input:hover{
  transition: .3s;
  border-bottom: 1px solid rgb(253, 253, 253);
  outline: 0;
}

form input::placeholder{
  color: rgb(190, 190, 190);
}

.temp-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.weather-temp li{
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: 500;
  font-size: 1.75rem;
  margin-bottom: 30px;
}

p, span {
  font-size: 1.75rem;
}

p {
  color: rgb(192, 192, 192)
}

@media screen and (max-width: 1530px) {
  h2 {
    font-size: 2rem;
  }

  p, span {
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 1400px) {
.weather-info-1{
  padding: 50px 20px;
  align-self: center;
}

.weather-info-1{
  flex-direction: column;
  gap: 10px;
}

.weather-menu {
  grid-template-columns: 1fr 1fr;
}
}

@media screen and (max-width: 1025px) {
  .weather-menu {
    grid-template-columns: 1fr;
  }

    .weather-info-2{
    height: 100%;
  }
}

@media screen and (max-width: 650px) {
  .sub{
    font-size: 1.75rem;
  }

  .temp-list {
    gap: 25px;
  }

  .weather-info-1{
    justify-self: start;
    padding: 50px 50px;
    margin-bottom: 50px;
  }

  .weather-info-1 h1{
    font-size: 7rem;
  }

  .weather-info-1 p{
    font-size: 2rem;
  }

  .weather-info-2{
    padding: 50px 35px;
    gap: 60px;
    margin: 0px 20px;
    border-radius: 10px;
    gap: 30px;
  }

  .weather-info-2 li{
    gap: 10px;
  }

  h2 {
    font-size: 2rem;
  }

  p, span {
    font-size: 1.25rem;
  }
}

